@charset "UTF-8";

html {
  font-size: 100%;
  scroll-padding-top: 100px;
  /* スクロールさせる表示領域の縦軸の基準値 */
  scroll-behavior: smooth;
  /* 該当箇所へのスクロールを指定smooth=定義された速度でスムーズに */
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #00213B;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.header-wrap {
  position: fixed;
  width: 100%;
  height: 92.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}

.header-wrap__logo {
  padding-left: 15%;
  width: 35%;
}

.header-wrap__logo a {
  display: flex;
  align-items: center;
  /* line-height: 1.25; */
}

.header-wrap__logo a img {
  display: block;
  width: 50%;
  height: 50%;
}

.header-wrap__logo a p {
  color: #00213B;
  font-size: clamp(0.5rem, 0.409rem + 0.45vw, 0.75rem);
  line-height: 1;
  margin-left: 10px;
}
/* clamp関数はウインドウサイズに対応してフォントサイズを調整できる関数 */

.header-wrap__nav {
  margin: auto;
  width: 20%;
}

.header-wrap__nav a {
  color: #fff;
}

.header-wrap__nav__web {
  background-color: #E99BC1;
  padding: 0.75vw 0;
  border-radius: 10px;
  text-align: center;
  display: block;
}

.header-wrap__nav__web a p {
  line-height: 1.5;
  font-size: clamp(0.85rem, 0.795rem + 0.27vw, 1rem);
  color: #fff;
}

.h-open {
  position: absolute;
  z-index: 9999;
  right: 0;
  cursor: pointer;
  width: 92.5px;
  height: 100%;
  background-color: #ECBBB5;
  text-align: center;
}

.h-open small {
  display: inline-block;
  position: relative;
  top: 10px;
}

/* ×に変化させる */
.h-open span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 24px;
  height: 1.5px;
  border-radius: 2px;
  background-color: #00213B;
  width: 50%;
}

.h-open span:nth-of-type(1) {
  top: 40px;
}

.h-open span:nth-of-type(2) {
  top: 55px;
}

.h-open span:nth-of-type(3) {
  top: 70px;
}

/* activeでクリックされた後に表示される2本線のデザインを適用させる */
.h-open.active span:nth-of-type(1) {
  top: 48px;
  left: 24px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

.h-open.active span:nth-of-type(2) {
  opacity: 0;
}

.h-open.active span:nth-of-type(3) {
  top: 60px;
  left: 24px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

/* クリックされた後に表示されるメニューのデザインを適用させる */
#h-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
  transition: all 0.6s;
}

#h-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#h-nav li {
  position: relative;
  border-bottom: solid 1.5px #E99BC1;
  margin: 22.5% 0;
}

#h-nav li::after {
  position: absolute;
  content: "";
  left: -15px;
  bottom: 0;
  height: 100%;
  width: 3.75px;
  background-color: #E99BC1;
}

#h-nav li a {
  color: #333;
  display: block;
  font-size: clamp(0.9rem, 0.773rem + 0.64vw, 1.25rem);
  font-weight: 400;
}

#h-nav.panelactive {
  right: 0;
}

.top-wrap {
  width: 100%;
  padding-top: 90px;
  background-size: cover;
  position: relative;
}

.top-wrap img {
  width: 100%;
  height: 100%;
  display: block;
}

.top-wrap__sp {
  display: none;
}

.top-wrap a{
  position: absolute;
  top: 83%;
  left: 15.5%;
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  color: #fff;
  background-color: #E99BC1;
  border-radius: 10px;
  text-align: center;
  padding: 1vw 1vw;
}

.appeal{
  background-color: #F5F5F5;
}

.__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 5%;
}

.appeal-wrap__ttl{
  display: flex;
}

.appeal-wrap__ttl h3{
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  position: relative;
}

.appeal-wrap__ttl h3::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 40%;
  border-top: 50px solid #9CC9E5;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
}

.appeal-wrap__ttl__img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 50px;
}

.appeal-wrap__ttl__img img{
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.appeal-wrap__sub{
  width: 55%;
  font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

.appeal-wrap__sub p{
  margin-top: 5%;
  background-color: #fff;
}

.appeal-wrap__sub strong{
  color: #E99BC1;
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
}

.appeal-wrap__txt{
  display: flex;
}

.appeal-wrap__txt__left{
  width: 55%;
  margin-top: 5%;
}

.appeal-wrap__txt__right{
  width: 45%;
  aspect-ratio: 3/4;
  margin-left: 3%;
}

.appeal-wrap__txt__right img{
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: 50% 0;
}

.appeal::after {
  content: "";
  position: absolute;
  left: 42.5%;
  border-top: 50px solid #F5F5F5;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.__ttl{
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  font-weight: 700;
  text-align: center;
}

.fea{
  background-color: #ECBBB5;
}

.fea-wrap__body__block{
  background-color: #fff;
  box-shadow: 2px 3px 3px rgb(0 0 0 /25%);
  padding: 5% 7%;
  margin: 7%;
}

.fea-wrap__body__block__ttl{
  text-align: center;
  position: relative;
}

.fea-wrap__body__block__ttl h3{
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  font-weight: 700;
}

.fea-wrap__body__block__ttl__sub p{
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  padding: 3%;
}

.fea-wrap__body__block__ttl::before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #00213B;
  bottom: 1.5rem;
  left: 8rem;
}

.fea-wrap__body__block__ttl::after{
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #00213B;
  bottom: 1.5rem;
  left: 24rem;
}


.fea-wrap__body__block__ttl__sub{
  text-align: center;
}

.fea-wrap__body__block__txt{

}

.fea-wrap__body__block__img img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 2%;
}